<link rel="'stylesheet" href="/css/user_profile.css" />

<h1>hello <%=name%> at profile page</h1>
<h1>hey <%=email%></h1>
<h1>hi <%=password%></h1>
<img src="/images/profile.jpg" alt="profile pic" />

<ul>
  <li><a href="/user/sign-out">sign out</a></li>
</ul>
