<h>sign in</h>

<form method="POST" action="/user/create-session">
  <input type="email" name="email" placeholder="abc@gmail.com" required />
  <input type="password" name="password" required />
  <input type="submit" value="signin" />
</form>
